extends layout

block content
    h1= title
    form#formAddUser(name="adduser",method="post",action="/adduser")
        input#inputUserName(type="text", placeholder="your username", name="username")
        input#inputUserEmail(type="text", placeholder="your email", name="useremail")
        button#btnSubmit(type="submit") submit