extends layout

block content
    h1.
        User List
    p This is my list of users:
    ul
        each user, i in userlist
            li
                a(href="mailto:#{user.email}")=  user.username